@page "/raza/editar/{RazaId:int}"
@using Logic
@using Models.Entity
@inject NavigationManager Navigation
@code {
    [Parameter]
    public int RazaId { get; set; }

    private Models.Entity.Models.Raza raza = new Models.Entity.Models.Raza();

    protected override async Task OnInitializedAsync()
    {
        raza = await RazasLogic.GetOne(RazaId);
    }

    private async Task GuardarCambios()
    {
        bool resultado = await RazasLogic.Editar(raza);
        if (resultado)
        {
            Navigation.NavigateTo("/raza");
        }
    }
}
<h3 class="mb-4">Editar Raza</h3>

<div class="mb-3">
    <label class="form-label">Nombre:</label>
    <input class="form-control" @bind="raza.Nombre" />
</div>

<div>
    <button class="btn btn-primary me-2" @onclick="GuardarCambios">Guardar Cambios</button>
    <button class="btn btn-secondary" @onclick="@(() => Navigation.NavigateTo("/raza"))">Cancelar</button>
</div>

