@using System.Reflection
@using System.Text.RegularExpressions

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Veterinaria San Antón</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable"
         onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
        <AuthorizeView Roles="Admin">

            @* Recorre la lista y genera los enlaces *@
            @foreach (var link in navLinksAdmin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@link.Href">
                        @link.Name
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        <AuthorizeView Roles="Profesional">

            @* Recorre la lista y genera los enlaces *@
            @foreach (var link in navLinksProfesional)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@link.Href">
                        @link.Name
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        </nav>
    </div>



@code {
    // Define los enlaces manualmente
    private List<(string Name, string Href)> navLinksAdmin = new List<(string, string)>
    {
        ("Razas", "/raza"),
        ("Especies", "/especie")
    };

    private List<(string Name, string Href)> navLinksProfesional = new List<(string, string)>
    {
        ("Registrar atención", "/RegistrarAtencion"),
    };
}