@page "/"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@using System.Net.Http.Headers;
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<body>
    
    <main class="main-content container my-5">
        <div class="content-card p-5">
            <article class="content">
                <h2>Bienvenido a Veterinaria San Antón</h2>
                <p>Nos dedicamos a proporcionar el mejor cuidado para tus queridas mascotas. Nuestro equipo de veterinarios experimentados y personal está comprometido a garantizar la salud y felicidad de tus amigos peludos.</p>
                <p>Ya sea que necesites chequeos de rutina, vacunas o tratamientos especializados, estamos aquí para ayudarte. ¡Programa una cita hoy y experimenta la diferencia de San Antón!</p>
            </article>
        </div>
    </main>

    <footer class="footer text-center py-4 mt-auto">
        <div class="container">
            <p class="mb-0">&copy; 2024 Clínica Veterinaria San Antón. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>


@code {
        
}