@page "/especie/crear"
@using Logic
@using Models.Entity
@inject NavigationManager Navigation
@code {
    private Models.Entity.Models.Especie nuevaEspecie = new Models.Entity.Models.Especie();

    private async Task GuardarEspecie()
    {
        bool resultado = await EspeciesLogic.Crear(nuevaEspecie);
        if (resultado)
        {
            Navigation.NavigateTo("/especie");
        }
    }
}
<h3 class="mb-4">Crear Nueva Especie</h3>
<div class="mb-3">
    <label class="form-label">Nombre: </label>
    <input class="form-control" @bind="nuevaEspecie.Nombre" />
</div>

<div>
    <button class="btn btn-primary me-2" @onclick="GuardarEspecie">Guardar</button>
    <button class="btn btn-secondary" @onclick="@(() => Navigation.NavigateTo("/especie"))">Cancelar</button>
</div>
