@page "/especie/editar/{EspecieId:int}"
@using Logic
@using Models.Entity
@inject NavigationManager Navigation
@code {
    [Parameter]
    public int EspecieId { get; set; }

    private Models.Entity.Models.Especie especie = new ();

    protected override async Task OnInitializedAsync()
    {
        especie = await EspeciesLogic.GetOne(EspecieId);
    }

    private async Task GuardarCambios()
    {
        bool resultado = await EspeciesLogic.Editar(especie);
        if (resultado)
        {
            Navigation.NavigateTo("/especie");
        }
    }
}
<h3 class="mb-4">Editar Especie</h3>
<div class="mb-3">
    <label class="form-label">Nombre: </label>
    <input class="form-control" @bind="especie.Nombre" />
</div>

<div>
    <button class="btn btn-primary me-2" @onclick="GuardarCambios">Guardar Cambios</button>
    <button class="btn btn-secondary" @onclick="@(() => Navigation.NavigateTo("/especie"))">Cancelar</button>
</div>