@page "/especie"
@using Logic
@using Models.Entity
@inject NavigationManager Navigation
@code {
    private List<Models.Entity.Models.Especie> especies;

    protected override async Task OnInitializedAsync()
    {
        especies = await EspeciesLogic.GetAll();
    }

    private async Task EliminarEspecie(int id)
    {
        bool resultado = await EspeciesLogic.Eliminar(id);
        if (resultado)
        {
            especies = await EspeciesLogic.GetAll();
        }
    }
}

<AuthorizeView Roles="Admin, Profesional">
    <Authorized>
        <h3 class="mb-4">Lista de Especies</h3>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (especies != null && especies.Count > 0)
                {
                    @foreach (var especie in especies)
                    {
                        <tr>
                            <td>@especie.Nombre</td>

                            <td>
                                <button class="btn btn-primary btn-sm me-2" @onclick="@(() => Navigation.NavigateTo($"/especie/editar/{especie.EspecieId}"))">Editar</button>
                                <button class="btn btn-danger btn-sm" @onclick="@(() => EliminarEspecie(especie.EspecieId))">Eliminar</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center"> No hay razas registradas</td>
                    </tr>
                }

            </tbody>
        </table>
        <button class="btn btn-success mt-3" @onclick="@(() => Navigation.NavigateTo("/especie/crear"))">Nueva Especie</button>

    </Authorized>
    <NotAuthorized>
        <h3 class="text-danger">No estás autorizado a ver esta página.</h3>
    </NotAuthorized>
</AuthorizeView>

